
body {
  background: #384047;
  font-family: sans-serif;
  font-size: 10px;
  background-image: url("https://image.freepik.com/free-vector/menstrual-calendar-concept_52683-46617.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
form {
  background: #fff;
  padding: 4em 4em 2em;
  max-width: 400px;
  margin: 50px auto 0;
  box-shadow: 0 0 1em #222;
  border-radius: 2px;
     }
  h2 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:20px;
    color:#DB7093;
   
    border-bottom:solid 1px #e5e5e5;
  }
  h1 {
    margin:0 0 50px 0;
    padding:10px;
    text-align:center;
    font-size:25px;
    color:#FF69B4;
    border-bottom:solid 1px #e5e5e5;
    
  }
  h3{
      font-size:15px;
      color:#FF69B4;
  }
  p {
    margin: 0 0 3em 0;
    position: relative;
  }
  input {
    display: block;
    box-sizing: border-box;
    width: 100%;
    outline: none;
    margin:0;
  }
  input[type="text"],
  input[type="password"] {
    background: #fff;
    border: 1px solid #dbdbdb;
    font-size: 1.6em;
    padding: .8em .5em;
    border-radius: 2px;
  }
  input[type="text"]:focus,
  input[type="password"]:focus {
    background: #fff
  }
  span {
    display:block;
    background: #F9A5A5;
    padding: 2px 5px;
    color: #666;
  }
  input[type="submit"] {
    background: #DB7093;
    box-shadow: 0 3px 0 0 darken(#545099, 10%);
    border-radius: 2px;
    border: none;
    color: #fff;
    cursor: pointer;
    display: block;
    font-size: 2em;
    line-height: 1.6em;
    margin: 2em 0 0;
    outline: none;
    padding: .8em 0;
    text-shadow: 0 1px #68B25B;
  }
  input[type="submit"]:hover {
    background: #FFB6C1;
    text-shadow:0 1px 3px darken(#545099, 30%);
  }
  input[type="submit"]:hover {
    
  }
  label{
    position: absolute;
    left: 8px;
    top: 12px;
    color: #999;
    font-size: 16px;
    display: inline-block;
    padding: 4px 10px;
    font-weight: 400;
    background-color: rgba(255,255,255,0);
    @include transition(color .3s, top .3s, background-color .8s);
    &.floatLabel{
      top: -11px;
      background-color: rgba(255,255,255,0.8);
      font-size: 14px;
    }
}
  
